@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
  --espessura-linha: 4px;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.tabuleiro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  aspect-ratio: 1 / 1;
  text-align: center;
  color: #ffffff00;
  ;
}

.casa {
  /* background-color: #eee; */
}

.c1, .c2 {
  border-right: var(--espessura-linha) solid #888;
}

.l1, .l2 {
  border-bottom: var(--espessura-linha) solid #888;
}

.ocupado {
  font-size: 8rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.x {
  color: green;
}

.o {
  color: rgb(160, 0, 0);
}

form button:hover {
  background: var(--primary-color-darker);
}

.fechou {
  /* position: absolute; */
  /* width: 100px; */
  /* height: 100px; */
  /* background-color: #dbd034; */
  opacity: .8;
  animation: pulseAnimate 2s ease-out infinite;
}

@keyframes pulseAnimate {
  0% { text-shadow: 0 0 .2em rgba(255, 0, 0, 0.2); }
	50% { text-shadow: 0 0 .4em rgba(255, 0, 0, 0.99); }
	100% { text-shadow: 0 0 .2em rgba(255, 0, 0, 0.2); }
  }